.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.inputBox{
  padding: 13px;
  margin-right: 5px;
  border: 1px solid black;
}
.inputBox:active{
  border: rgb(42, 165, 69);
}

.AddBtn{
  padding: 10px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  background-color:  rgb(46, 137, 211);
  border: white;
}
.AddBtn:hover{
  background-color: rgba(46, 137, 211, 0.795);
  cursor: pointer;
}

.RemBtn{
  padding: 10px;
  width: 150px;
  background-color: rgb(228, 34, 34);
  border: white;
  font-weight: bold;
}
.formu{
  padding-bottom: 10px;
}
.DelBtn{
  padding: 9px;
  margin-left: 3px;
  background-color: rgb(53, 141, 53);
  font-weight: bold;
  border: white;
}
.DelBtn:hover{
  background-color: rgba(0, 128, 0, 0.712);
  cursor: pointer;
}

.RemBtn:hover{
  background-color: rgba(255, 0, 0, 0.747);
  cursor: pointer;
}
.eachItem {
  padding-bottom: 9px;
}